<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <env name="PANTHER_APP_ENV" value="test"/>
        <env name="PANTHER_ERROR_SCREENSHOT_DIR" value="var/panther-error-screenshots"/>
    </php>
    <testsuites>
        <testsuite name="locator-unit">
            <directory suffix="Test.php">tests/Address</directory>
            <directory suffix="Test.php">tests/Bundle</directory>
            <directory suffix="Test.php">tests/Fixture</directory>
            <directory suffix="Test.php">tests/Infrastructure</directory>
            <directory suffix="Test.php">tests/Provider</directory>
            <directory suffix="Test.php">tests/Service</directory>
            <directory suffix="Test.php">tests/Status</directory>
            <directory suffix="Test.php">tests/Tenant</directory>
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="locator-integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
        <testsuite name="locator-contract">
            <directory suffix="Test.php">tests/Contract</directory>
        </testsuite>
        <testsuite name="locator-smoke">
            <directory suffix="Test.php">tests/Smoke</directory>
            <file>tests/Integration/SmokeTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">public</directory>
            <directory suffix=".php">tools</directory>
        </include>
        <exclude>
            <directory suffix=".php">docs/legacy</directory>
        </exclude>
    </source>
</phpunit>
